{% extends 'base.html' %}

{% block content %}
    <h1>Admin page</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Registered At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.registered_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
