{% extends 'base.html' %}

{% block content %}
<h1>Tasks pending</h1>
{% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
    <form action="{{ url_for('create_task') }}" method="get">
        <button type="submit">Create Task</button>
    </form>
{% endif %}
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>User</th>
        <th>Done Time</th>
        <th colspan="3">Actions</th>
    </tr>
    {% for task in pending_tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.user.username if task.user else 'N/A' }}</td>
        <td>{{ task.done_time|unixtime }}</td>

        {% include 'edit_delete_buttons.html' %}
        {% include 'accept_button.html' %}
    </tr>
    {% endfor %}
</table>


<h1>Tasks in development</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>User</th>
        <th>Done Time</th>
        <th colspan="3">Actions</th>
    </tr>
    {% for task in in_progress_tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.user.username if task.user else 'N/A' }}</td>
        <td>{{ task.done_time|unixtime }}</td>

        {% include 'edit_delete_buttons.html' %}
        {% include 'complete_button.html' %}
    </tr>
    {% endfor %}
</table>

<h1>Completed tasks</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>User</th>
        <th>Done Time</th>
        <th colspan="2">Actions</th>
    </tr>
    {% for task in done_tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.user.username if task.user else 'N/A' }}</td>
        <td>{{ task.done_time|unixtime }}</td>

        {% include 'edit_delete_buttons.html' %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
