{% extends 'base.html' %}

{% block content %}
<h1>Tasks pending</h1>
{% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
    <form action="{{ url_for('create_task') }}" method="get">
        <button type="submit">Create Task</button>
    </form>
{% endif %}
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Assigned to</th>
        <th>Done Time</th>
        {% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
            <th>Edit</th>
            <th>Delete</th>
            <th>Accept</th>
        {% endif %}
    </tr>
    {% for task in pending_tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.user.username if task.user else 'N/A' }}</td>
        <td>{{ task.done_time|unixtime }}</td>

        {% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
            <td>
                <form action="{{ url_for('edit_task', id=task.id) }}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('delete_task', id=task.id) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('accept_task', id=task.id) }}" method="post">
                    <button type="submit">Accept the task</button>
                </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<h1>Tasks in development</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Assigned to</th>
        <th>Done Time</th>
        {% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
            <th>Edit</th>
            <th>Delete</th>
            <th>Complete</th>
        {% endif %}
    </tr>
{% for task in in_progress_tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.user.username if task.user else 'N/A' }}</td>
        <td>{{ task.done_time|unixtime }}</td>

        {% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
            <td>
                <form action="{{ url_for('edit_task', id=task.id) }}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('delete_task', id=task.id) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('complete_task', id=task.id) }}" method="post">
                    <button type="submit">Complete the task</button>
                </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<h1>Completed tasks</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Assigned to</th>
        <th>Done Time</th>
        {% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
            <th>Edit</th>
            <th>Delete</th>
        {% endif %}
    </tr>
    {% for task in done_tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.user.username if task.user else 'N/A' }}</td>
        <td>{{ task.done_time|unixtime }}</td>

        {% if 'user_id' in session and current_user.role in ['admin', 'dev'] %}
            <td>
                <form action="{{ url_for('edit_task', id=task.id) }}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('delete_task', id=task.id) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
